.header, .container, .understand, .start_input::placeholder, .carusel_flex{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2B292D;
    text-decoration: none;
}

.header_ul{
    margin-right: 77px;
    position: relative;
    z-index: 5;
}

.header_li{
    display: inline-block;
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_link:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6010a7;
    bottom: -2px;
    left: -1px;
}

.check{
    width: 30px;
    height: 3px;
    background-color: black;
}

.check:not(last-of-type){
    margin-bottom: 7px;
}

.checkbox_menu, .check-wrapper{
    display: none;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: white;
    font-weight: bold;
    transition: 1s all;
}

.button:hover{
    background: #0a1fde;
    cursor: pointer;
    transform: scale(1.2);
    transition-delay: 100ms;
}

.button_white{
    margin: 0 10px 111px;
    background: white;
    color: rgba(0, 0, 0, 1);
    transition: 1s all;
}

.button_white:hover{
    background: #c4c7c8;
    cursor: pointer;
}

.main{
    background-color: #F3C6BD;
    padding-bottom: 77px;
    position: relative;
}

.container_main > div:first-of-type{
    z-index: 1;
}

.container_main > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
}

.main_title{
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: #2B292D;
    max-width: 754px;
    width: 100%;
    margin-bottom: 34px;
}

.main_text{
    font-size: 24px;
    line-height: 34px;
    max-width: 456px;
    width: 100%;
    color: #2B292D;
    margin-bottom: 58px;
}

.what{
    background: #F4F5F7;
    align-items: center;
    padding: 77px 0 76px;
}

.appointment_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.appointment_text{    
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.brands{
    margin: 30px auto 106px;
}

.grid_brands{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.grid_img{
    align-items: center;
}

.future{
    padding-top: 11px;
    position: relative;
    margin-bottom: 103px;
}

.future_describe{
    max-width: 462px;
    width: 100%;
}

.image-future{
    max-width: 684px;
    width: 100%;
}

.future_flex > div:first-of-type{
    z-index: 1;
}

.future_flex > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.info_pretitle-green{
    color: #009B4D;
    margin-bottom: 24px;
}

.info_title_future{
    margin-bottom: 30px;
}

.future_describe::after{
    content: url(../img/before-future-block.jpg);
    position: absolute;
    left: 0px;
    bottom: 120px;
}

.future_block_describe{
    border-bottom: 1px solid rgba(106, 105, 103, 0.2);
}

.future_block_describe-change{
    border-bottom: 5px solid rgba(49, 66, 198, 1);
}

.future_block_text{
    display: none;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 25px;
}

.future_block_pretitle{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;  
    cursor: pointer;  
}

.future_block_color-change{
    color: rgba(49, 66, 198, 1);
}

.future_block-about{
    display: flex;
    justify-content: flex-start;
    height: 52px;
}

.future_block_img{
    margin-right: 15px;
}

.surfaces_describe{
   text-align: center;
   margin: 0 auto;
}

.surfaces_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

.grid{
    display: grid;
    row-gap: 50px;
    column-gap: 42px;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows: repeat(3, 208px);
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}

.img{
    width: 100%;
    background-size: cover;
}

.understand{
    padding: 108px 0 110px;
    text-align: center;
    margin-bottom: 62px;
    background: rgba(0, 161, 198, 0.1)
}

.understand_grid{
    align-items: center;
}

.understand_describe{
    display: inline-block;
    text-align: center;
}

.info_pretitle_understand{
    color: #2B292D;
    margin-bottom: 24px;
}

.info_title_understand{
    max-width: 555px;
    width: 100%;
    margin: 0 auto 30px;
}

.info_text_understand{
    margin: 0 auto 34px;
    max-width: 555px;
    width: 100%;

}

.ouch_grig{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 262px);
    justify-content: center;
}

.ouch{
    background: white;
    height: 300px;
    transition: 0.7s all;
    color: #2B292D;

}

.ouch:hover{
    background: rgba(49, 65, 197, 1);
    cursor: pointer;
    color: white;
}

.icon{
    display: block;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;
 }

.icon_title{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

.inbox{
    background: rgba(252, 240, 227, 0.4);
    padding: 117px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_img{
    margin-right: 11px;
}

.container-image_img{
    position: relative;
    animation-name: toLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes toLeft{
   from{
left: 0%;
   }
   
   to{
    left: 180px;
   }
}

.inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
}

.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    width: 100%;
    margin-bottom: 26px;
}

.info_text{
    max-width: 461px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.info_text_surfaces{
    margin: 26px auto 97px;
    max-width: 554px;
    color: #172342;
}

.info_pretitle-blue{
    color: rgba(1, 137, 209, 1);
    padding-top: 13px;
    margin-bottom: 24px;
}

.info_title_communicate-info{
    margin-bottom: 30px;
}

.info_text_communicate-info{
    margin-bottom: 39px;
}

.container-image_img_communicate-info{
    padding-right: 63px;
    margin-bottom: 105px;
    margin-top: 110px;
    animation-name: toRight;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes toRight {
    from{
        right: 0%;
    }

    to{
        right: 180px;
    }
    
}
.advantage{
    justify-content: space-between;
    margin-bottom: 105px;
}

.communicate_advantage{
    max-width: 360px;
    width: 100%;
}

.inbox_text-advantage{
    margin-bottom: 18px;
}

.inbox_text_blue{
    text-decoration-line: underline;
    color: #3040C4;
    font-weight: 700;
}

.grid_brands-2{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 62px;
}

.carusel_flex{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 106px;
    padding: 0 26px 67px;
    box-sizing: border-box;
}


.carusel_pretitle{
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
    font-weight: bold;
    margin-bottom: 28px;
}

.carusel_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin:0 auto 34px;
    max-width: 750px;
}

.carusel_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2B292D;
    margin-bottom: 16px;
}

.carusel_position{
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
    margin: 0 auto 21px;
    max-width: 175px;
}

.carusel_img{
    position: absolute;
    right: 26px;
    bottom: 0;
}

.dropout_block_container{
   max-width: 750px;
   margin-bottom: 205px;
}

.dropout_block-top{
    text-align: center;
    
}

.info_title_dropout{
    margin: 0 auto 20px;
}

.info_text_dropout{
    margin: 0 auto 28px;
}

.button_dropout{
    width: 247px;
    font-size: 18px;
    line-height: 13px;
    margin: 0 auto 63px;
}

.about_location{
    font-size: 18px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}

.about_icon{
    color: rgba(43, 41, 45, 0.6);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: translate(-50% -50%);
    align-items: center;

}

.about_items{
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 2px solid rgba(43, 41, 45, 0.1);
    border-radius: 8px;
}

.about_text{
    font-size: 18px;
    line-height: 26px;
    margin-top: 3px;
    max-width: 410px;
    display: none;
}

.about-rotate-icon{
    transform: rotate(90deg);
    transition: 300ms;
    cursor: pointer;
}

.change-color{
    color: white;
    background-color: rgba(49, 65, 197, 1);
    border: 2px solid rgba(49, 65, 197, 1);
    transition: 300ms;
}

.change-color-text{
    color: white;
}

.about_pretitle{
    max-width: 408px;
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    cursor: pointer;
}

.start{
    background: #F4F5F7;
    padding: 72px 0 72px;
}
    
.flex_start{
    justify-content: start;
    
}

.start_img{
    margin:40px 121px 0;
}

.start_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    font-weight: 700;
    margin: 82px 0 12px;
}

.start_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 26px;
}

    .start_input{
    width: 385px;
    height: 48px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 17px 0 18px 15px;
    }

    .start_input::placeholder{
        color: #2B292D;
        font-size: 18px;
        line-height: 13px;
    }

.start_text_grey{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin: 10px 0 10px;
}

lb1 {      
    margin: 2em;
}
#highload1 {       
    display: none;
}
#highload1+.lb1, #highload1+.lb1::before, #highload1+.lb1::after {
    transition: all .3s;
}
#highload1+.lb1 {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}
#highload1+.lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 8px;
    right: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}
#highload1+.lb1::after {
    border-radius: 50%;
    border: 4px solid rgb(103, 99, 99);
    content: '';
    position: absolute;
    left: 2px;
    width: 32px;
    height: 32px;
    background-color: rgb(217, 206, 206);          
}
#highload1:checked+.lb1::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}
#highload1:checked+.lb1::after {
    left: 64px;
    background-color: #f7f7f7;
}

#highload1+.lb1 {             
    background-color: #ccc;
}
#highload1:checked+.lb1 {
    background-color: green;
}
#highload1:checked+.lb1::before {
    color: #fff;
}

.footer{
    padding: 43px 0 112px;
}

.footer_top{
    margin-bottom: 73px;
}

.footer_logo{
    margin-bottom: 26px;
    justify-content: start;
}

.footer-top_logo_text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
    width: 100%;
    margin-bottom: 25px;
}

.logo_describe{
margin-left: 15px;
}

.black_buttons{
    justify-content: flex-start;
}

.app_store{
    margin-right: 10px;
}

.products_pretitle, .company_pretitle{
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 18px;
}

.link_footer{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-top{
    align-items: flex-start;
}

.footer-bottom_ul{
    display: flex;
}

.footer-bottom_link{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-bottom_link:not(last-of-type){
    margin-right: 20px;
}

.img_social_icons:not(last-of-type){
    margin-right: 20px;
}

.modal-overlay{
    display: none;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal{
    max-width: 550px;
    text-align: center;
    background-color: white;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.closed{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-text{
    font-size: 22px;
    line-height: 30px;
}

#up{
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 50px;
    background-color: #d5abd5;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    cursor: pointer;
}

#up span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: rotate(-90deg) translate(100%, -20%);
}

@media screen and (max-width: 1200px){
*{
    margin: 0;
    padding: 0;
}

    .header{
        padding: 30px 0;
    }

    .container{
        max-width: 1050px;
    }

    .main_text{
        max-width: 350px;
        width: 100%;
    }

    .checkbox_menu, .check-wrapper{
        display: block;
    }

    .menu-all{
        display: none;
    }

    .menu{
        position: relative;
    }

    .check{
        transition: 300ms;
    }

    .checkbox_menu{
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 4;
    }

    .check-wrapper{
        position: relative;
        z-index: 3;
    }

    .checkbox_menu:checked ~ .check-wrapper> .check:first-of-type{
        transform: rotate(45deg) translate(7px, 2px);
    }

    .checkbox_menu:checked ~ .check-wrapper> .check:last-of-type{
        transform: rotate(-45deg) translate(6px, 0px);
    }

    .checkbox_menu:checked ~ .menu-all{
        display: block;
        position: fixed;
        background-color: rgba(252, 240, 227, 1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 40px;
        z-index: 2;
    }

    .menu-all{
        margin-right: 0px;
    }

   .flex_menu{
        flex-direction: column;
   }

    .header_li{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header_li:not(:last-of-type){
        margin-right: 0px;
    }

    .flex_menu{
        flex-direction: column;
    }

    .container_main{
        z-index: 1;
    }

    .appointment_text-first{
        margin-right: 30px;
    }

    .brands{
        margin-bottom: 50px;
    } 

    .image-future{
        max-width: 600px;
        width: 100%;
    }
    
    .future_describe::after{
        content: url(../img/before-future-block.jpg);
        position: absolute;
        left: -10px;
        bottom: 120px;
    }

    .communicate_advantage{
      margin-right: 30px;
    }

    .inbox_text-advantage{
     font-size: 18px;
     line-height: 24px;
    }

    .inbox_text_blue{
    font-size: 18px;
    line-height: 24px;  
    }

    .understand{
        padding: 75px 0 90px;
    }

    .start_input{
        width: 300px;
    }
}

@media screen and (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .logo_text{
        display: none;
    }

    .main_title{
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.5px;
        margin-bottom: 15px;
        max-width: 525px;
        width: 100%;
    }

    .main_text{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
        max-width: 363px;
        width: 100%;
    }

    .main_button, .main_button_white{
        width: 125px;
        height: 51px;
        font-size: 16px;
        line-height: 13px;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .main{
        position: static;
        padding-bottom: 0;
    }

    .container_main{
        display: inline-block;
    }

    .container_main_describe{
        margin-left: 170px;
    }

    .main_image_bottom{
        margin-left: 253px;
        max-width: 620px;
        width: 100%;
    }

    .container_main > div:first-of-type{
        z-index: 1;
    }
    
    .container_main > div:last-of-type{
        z-index: 0;
        position: static;
        right: 0;
    }

    .what{
        padding: 30px 0 34px;
    }

    .flex_what-column{
        flex-direction: column;
    }

    .future_flex_column{
        flex-direction: column;
    }

    .future_flex > div:last-of-type{
        z-index: 0;
        position: static;
        right: 0;
        top: 0;
    }

    .future_describe{
        justify-content: center;
        text-align: center;
    }

    .info_pretitle-green{
        margin-bottom: 12px;
    }

    .info_title_future{
        font-size: 48px;
        letter-spacing: -0.5px;
        margin-bottom: 12px;
    }

    .info_text_future{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .future_block_describe{
        max-width: 459px;
        margin-bottom: 49px;
        text-align: start;
    }

    .future_describe::after{
        content: url(../img/before-future-block.jpg);
        position: absolute;
        left: -10px;
        bottom: 700px;
    }

    .future{
        margin-bottom: 67px;
    }

    .appointment{
        max-width: 432px;
        width: 100%;
    }

    .appointment_text-first{
        margin-bottom: 32px;
    }

    .grid_brands{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .brands_img{
        max-width: 100%;
    }

    .brands_img:not(last-of-type){
        margin-right: 0px;
    }
    

    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 56px 0 69px;
    }

    .info{
        text-align: center;
    }

    .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }

    .info_text{
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }

    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .flex_communicate-column{
        flex-direction: column;
        margin-bottom: 38px;
    }

    .info_pretitle-blue{
        margin-bottom: 18px;
    }

    .info_title_communicate-info{
        font-size: 48px;
        margin-bottom: 19px;
        max-width: 318px;
        width: 100%;
    }

    .info_text_communicate-info{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 41px;
    }

    .container-image_img_communicate-info{
        margin: 37px 0 38px;
    }

    .communicate_advantage{
        text-align: center;
    }

    .inbox_text-advantage{
        margin-bottom: 10px;
    }

    .understand{
        padding: 50px 0 79px;
    }

    .understand_grid{
        margin-bottom: 52px;
    }

    .info_title_understand{
       font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin: 27px 0 27px;
    }

    .info_text_understand{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 27px;
    }

    .ouch_grig{
        display: grid;
        row-gap: 38px;
        column-gap: 64px;
        grid-template-columns: repeat(2, 262px);
        grid-template-rows: repeat(2, 300px);
    }

    .carusel_flex-column{
        flex-direction: column;
    }

    .carusel_pretitle{
        max-width: 573px;
        margin: 0 auto 14px;
    }

    .carusel_text{
        max-width: 584px;
        margin-bottom: 5px;
    }

    .carusel_img{
        position: static;
    }

    .carusel_describe{
        margin-bottom: 73px;
    }

   .surfaces_title{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 29px;
   }

   .info_text_surfaces{
    font-size: 20px;
    line-height: 34px;
   }

   .grid_surfaces{
    display: grid;
    row-gap: 30px;
    column-gap: 45px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
   }

   .item:nth-child(3){
    grid-row: 1/3;
    grid-column: 2/3;
   }

    .item:nth-child(4){
        grid-row: 2/4;
        grid-column: 1/2;
}

   .item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
   }

    .item:nth-child(7){
        display: none;
    }

    .flex_start_column{
        flex-direction: column;
        justify-content: center;
        text-align: center;
       }
    
       .flex_start_column :nth-child(1){
        order: 2;
       }
    
       .start_describe_block{
        max-width: 590px;
        width: 100%;
       }
    
       .start_title_inline-block{
        display: inline-block;
        width: 325px;
        font-size: 48px;
        letter-spacing: -0.357143px;
        margin-bottom: 51px;
       }
    
       .start_text{
        margin-bottom: 32px;
       }
       
       .start_form{
        margin-bottom: 21px;
        text-align: start;
        justify-content: center;
       }
       
       .start_input{
        width: 290px;
        margin-right: 0px;
       }

       .button_long{
        width: 290px;
       }

       .start_text_grey{
        display: inline-block;
        margin-bottom: 14px;
        max-width: 431px;
        width: 100%;
        align-items: center;
       }

       .checkbox{
        justify-content: center;
       }

       .footer{
        padding: 49px 0 48px;
       }

       .footer_column, .footer-bottom-column{
        flex-direction: column;
        align-items: center;
       }

       .footer_product{
        margin-bottom: 25px;
        align-items: flex-start;
       }

       .footer_product, .footer_company{
        text-align: start;
       }

       .logo_describe{
        width: 343px;
       }

       .logo_title, .logo_text_footer{
        font-size: 24px;
        line-height: 25px;
        text-align: center;
       }

       .products_pretitle, .company_pretitle{
        margin-bottom: 28px;
       }

       .footer_product, .footer_company{
        max-width: 343px;
        width: 100%;
        text-align: start;
       }

       .footer_company{
        margin-bottom: 38px;
       }

       .footer-top_logo_text{
        display: none;
       }

       .logo_text_footer{
        display: flex;
        justify-content: center;
       }

       .footer_logo_column{
        display: flex;
        flex-direction: column;
        text-align: center;
       }

       .logo_img{
        margin-bottom: 32px;
       }

       .logo_describe{
        margin-left: 0;
       }

       .app_store{
        margin-right: 0;
    }
        
    .black_buttons{
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    
    .logo_describe{
        margin-left: 0;
    }

    .footer-bottom_ul{
        margin-bottom: 27px;
        max-width: 343px;
        width: 100%;
        justify-content: flex-start;
    }

    .social_icons{
        max-width: 343px;
        width: 100%;
        justify-content: flex-start;
    }
       
}

@media screen and (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .header{
        padding: 31px 0 35px;
    }

    .future_describe::after{
        content: url(../img/before-future-block.jpg);
        position: absolute;
        left: 20px;
        bottom: 650px;
    }

    .info_title{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .container_main{
        max-width: 600px;
        width: 100%;
    }

    .main_image_bottom{
        margin-left: 130px;
        max-width: 550px;
        width: 100%;
    }

    .main_title{
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.5px;
        margin-bottom: 15px;
      
    }

    .container-image_img{
        width: 100%;
        height: 100%;
    }

    .container-image_img_communicate-info{
        width: 100%;
        height: 100%;
    }

    .ouch_grig{
        column-gap: 50px;
    }

    .grid_brands, .grid_brands-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .brands_img{
        max-width: 100%;
    }

    .dropout_block_container{
        margin-bottom: 43px;
    }

    .grid_surfaces{
        column-gap: 40px;
    }

    .start_form{
        text-align: center;
    }

    .start_input, .button_long{
        margin: 0 auto;
    }

    .start_input::placeholder{
        text-align: center;
    
    }
    
    #highload1+.lb1 {
        display: inline-block;
        position: relative;
        width: 75px;
        height: 30px;
        border-radius: 30px;
        cursor: pointer;
    }
    #highload1+.lb1::before {
        display: block;
        content: attr(data-offlabel);
        position: absolute;
        top: 5px;
        right: 10px;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
    }
    #highload1+.lb1::after {
        border-radius: 50%;
        border: 4px solid rgb(103, 99, 99);
        content: '';
        position: absolute;
        left: 2px;
        width: 22px;
        height: 22px;
        background-color: rgb(217, 206, 206);          
    }
    #highload1:checked+.lb1::before {
        content: attr(data-onlabel);
        left: 16px;
        right: auto;
        color: #fff;
    }
    #highload1:checked+.lb1::after {
        left: 45px;
        background-color: #f7f7f7;
    }

    .footer{
        padding: 47px 0 47px;
    }
}

@media screen and (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .future_describe{
        max-width: 400px;
    }

    .info_title_future{
        font-size: 40px;
        line-height: 40px;
    }

    .info_text_future{
        font-size: 20px;
        line-height: 28px;
    }

    .future_describe::after{
        content: url(../img/before-future-block.jpg);
        position: absolute;
        left: -20px;
        bottom: 550px;
    }
   

    .container_main_describe{
        max-width: 350px;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin: 0 auto;
    }


    .main_button, .main_button_white{
        width: 290px;
        height: 48px;
        margin: 0 auto;
    }


    .main_image_bottom{
        max-width: 400px;
        width: 100%;
        margin-left: 38px;
        margin-top: 20px;
    }
    

    .appointment_title, .appointment_text{
        font-size: 20px;
        line-height: 28px;
    }

    .inbox_text{
        font-size: 18px;
        line-height: 24px;
    }

    .container-image_img{
        width: 100%;
        width: 100%;
    }

    .container-image_img_communicate-info{
        width: 100%;
        height: 100%;
    }

    @keyframes toLeft{
        
        from{
         left: 0%;
        }

        to{
            left: 100px;
        }
     }

    .ouch_grig{
        column-gap: 15px;
        row-gap: 20px;
    }

    .surfaces_title{
        font-size: 42px;
        line-height: 50px;
    }

    @keyframes toRight {
        from{
            right: 0%;
        }
    
        to{
            right: 100px;
        }
    }

    .about_pretitle{
    max-width: 200px;
    }

    .grid_surfaces{
        column-gap: 35px;
    }

    .flex_start_column :nth-child(1){
        order: 1;
       }

    .flex_start_column :nth-child(2){
        order: 2;
       }

    .start_img{
        margin-bottom: 40px;
    }

    .start_title{
        margin-bottom: 18px;
    }

    .logo_title, .logo_text_footer{
        font-size: 20px;
        line-height: 22px;
        text-align: center;
       }

    .products_pretitle, .company_pretitle{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .logo_title{
        font-size: 20px;
        line-height: 25px;
    }

    .future_describe::after{
        display: none;
    }

    .future_block_pretitle {
        font-size: 18;
        line-height: 22px
    }

    .future_block-about {
        height: 36px;
    }

    .future_block_describe{
    margin-bottom: 32px;
    }

    .container_main{
        padding: 35px 15px 36px 15px;
    }

    .container_main{
        margin: 0 auto;
    }

    .main_title{
        margin-bottom: 24px;
    }

    .main_button, .main_button_white{
        width: 300px;
        height: 48px;
        
    }

    .main_buttons_block{
        margin-bottom: 33px;
        
    }

    .main_button{
        margin-bottom: 15px;
    }

    .grid_brands{
        justify-content: center;
    }

    .ouch_grig{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 290px);
    }

    .grid_brands-2{
        justify-content: center;
    }

    .brands_img{
        max-width: 100%;
    }

    .carusel_describe{
        text-align: start;
        margin-bottom: 92px;
    }

    .carusel_pretitle{
        margin-bottom: 29px;
    }

.carusel_text{
    margin-bottom: 32px;
}

.carusel_flex-column{
    padding-bottom: 0;
}

.carusel_img{
    margin-bottom: 134px;
}

.about_items{
      padding: 0%;
        box-sizing: border-box;
        justify-content: center;
        margin-bottom: 15px;
    }

    .flex_dropout{
        padding: 10px 5px;
    }

    .about_pretitle{
      font-size: 18px;
      line-height: 24px;
    }

    .about_location{
        font-weight: 16px;
        line-height: 20px;
    }

    .about_text{
    max-width: 200px;
    }

    .inline_dropout{
    width: 100%;
    }

    .grid_surfaces{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .item:nth-child(2){
        display: none;
    }

    .item:nth-child(3){
        grid-row: 4/6;
        grid-column: 1/2;
       }
    
    .item:nth-child(4){
        grid-row: 2/4;
        grid-column: 1/2;
}

    .start_img{
        margin-bottom: 40px;
        margin-top: 105px;
    }

    .black_buttons{
        justify-content: space-around;
    }

    #up{
        width: 50px;
        height: 50px;
    }
    
    #up span{
        transform: rotate(-90deg) translate(120%, -20%);
    }

}

@media screen and (max-width: 360px){
    .container{
        max-width: 290px;
    }

    .future_describe{
       text-align: start;
    }

    .info_pretitle-green{
        margin-bottom: 17px;
    }

    .info_title_future{
        margin-bottom: 15px;
    }

    .info_text_future{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 33px;
    }

    .future_block_describe{
        margin-bottom: 17px;
    }

    .main_image_bottom{
        margin: 0 auto;
    }


    @keyframes toLeft{
        
        from{
         left: 0%;
        }

        to{
            left: 75px;
        }
     }

    .info_text{
        font-size: 18px;
        line-height: 24px;
    }

    .info_title_communicate-info{
        font-size: 36px;
        line-height: 36px; 
    }

    .understand{
        padding-bottom: 50px;
    }

    @keyframes toRight {
        from{
            right: 0%;
        }
    
        to{
            right: 75px;
        }
    }

    .info_title_understand{
        font-size: 36px;
         line-height: 36px;
    }

    .surfaces_title{
        font-size: 38px;
        line-height: 42px;
    }

    .grid_brands, .grid_brands-2{
        display: grid;
        align-items: center;
        column-gap: 20px;
    }

    .understand{
        margin-bottom: 0px;
    }

    .info_text_surfaces{
        margin-bottom: 75px;
    }

    .start_describe_block{
        text-align: start;
    }

    .start_text{
        margin-bottom: 40px;
    }

    .start_form{
        margin-bottom: 10px;
    }

    .footer{
        padding: 40px 0 23px;
    }

    .logo_title{
        font-size: 20px;
        line-height: 25px;
    }

    .logo_text_footer{
        font-size: 18px;
        line-height: 25px;
    }

    .logo_describe{
        margin-bottom: 31px;
    }

    .black_buttons{
        margin-bottom: 71px;
    }

    .products_pretitle, .company_pretitle{
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 18px;
    }

    .link_footer{
        font-size: 18px;
        line-height: 30px;
    }

    .products_ul, .company_ul{
        margin-bottom: 30px;
    }

    .footer-bottom_link{
        font-size: 14px;
        line-height: 22px;
    }

    .footer-bottom_ul{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 320px){
    .container{
        max-width: 290px;
    }

    .header{
        background-color: white;
        padding: 8px 0;
    }

    .logo_img{
        margin-right: 13px;
    }

    .main_image_bottom{
        margin: 0 auto;
    }

    .what{
        padding: 46px 0 46px;
    }

    .flex_what-column{
        flex-direction: column;
    }

    .appointment_text-first{
        margin-bottom: 20px;
    }

    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 50px 0 48px;
    }

    .container-image{
        margin-bottom: 32px;
    }
    @keyframes toLeft{
        
        from{
         left: 0%;
        }

        to{
            left: 50px;
        }
     }
    
    .container-image_img{
        max-width: 290px;
        width: 100%;
    }

    .flex_inbox-column{
        flex-direction: column;
    }

    .info{
        text-align: start;
    }

    .info_pretitle{
        margin-bottom: 17px;
    }

    .info_title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .info_text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    .inbox_response{
        padding: 30px 20px;
    }

    .flex_communicate-column{
        flex-direction: column;
        margin-bottom: 38px;
    }

    .communicate{
        padding: 53px 0 53px;
    }

    .container-image_img_communicate-info{
       max-width: 290px;
       width: 100%;
    }

    .info_pretitle-blue{
        margin-bottom: 17px;
    }

    .info_title_communicate-info{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .info_text_communicate-info{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .container-image_img_communicate-info{
        padding-bottom: 79px;
        margin: 40px 0 33px;
    }

    .container-image_img_communicate-info{
        max-width: 290px;
        width: 100%;
    }

    .communicate_advantage{
        text-align: start;
    }

    .inbox_text-advantage{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .inbox_text_blue{
        font-size: 18px;
        line-height: 26px;
    }

    .understand{
        padding: 50px 0 50px;
    }

    .info_title_understand{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 17px 0 18px;
    }

    .info_text_understand{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }
    .button{
        width: 290px;
        height: 48px;
        margin-bottom: 12px;
    }

    .button_white{
        margin-bottom: 40px;
    }

    .ouch_grig{
        display: grid;
        row-gap: 15px;
        grid-template-rows: repeat(4, 300px);
        grid-template-columns: repeat(1, 290px);
    }

    .surfaces{
        padding-bottom: 55px;
    }

     .surfaces_title{ 
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 37px;
   }

    .info_text_surfaces{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 25px;
   }
@keyframes toRight {
    from{
        right: 0%;
    }

    to{
        right: 50px;
    }
}

   .grid_surfaces{
    display: grid;
    row-gap: 30px;
    column-gap: 45px;
    grid-template-columns: repeat(1, 290px);
    grid-template-rows: repeat(7, 173px);
   }

   .item:nth-child(3){
    grid-row: 4/6;
    grid-column: 1/2;
   }

    .item:nth-child(4){
        grid-row: 2/4;
        grid-column: 1/2;
}

    .item:nth-child(2), .item:nth-child(7){
        display: none;
    }

    .img{
        max-width: 290px;
        width: 100%;
    }

    .start_title{
        font-size: 36px;
        line-height: 42px;
    }

    .start_text{
        font-size: 18px;
        line-height: 26px;
    }

    .logo_describe{
        margin-bottom: 18px;
    }

    .black_buttons{
        justify-content: center;
        
    }

    .app_store{
        margin-right: 15px;
    }
}    